* {
  font-family: "Quicksand", sans-serif;
}

@font-face {
  font-family: QuranFont;
  src: url("../font/lpmq.woff");
  font-display: swap;
}

.arabic {
  font-family: QuranFont;
}

.surah-detail {
  color: #222831;
  cursor: pointer;
}
.surah-detail:hover {
  color: #00917c;
  cursor: pointer;
  text-decoration: none;
}

.title-item {
  font-weight: 700;
  color: #00917c !important;
}
.menu-item {
  font-weight: 500;
  color: #222831 !important;
}
.menu-item:hover {
  text-decoration: none;
}

.router-link-exact-active {
  font-weight: 700;
  color: #00917c !important;
}
